.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 56px;
  background-color: white;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  height: 32px;
  width: 32px;
}

.main {
  flex: 1;
  padding: 32px 24px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
